<div class="alert alert-warning" style="font-size:2em; width:50%" >
  <strong>Warning!</strong>
  </br> 
  </br>
  Shopping cart <b>cannot</b> be empty
</div>
<%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>